.question_item {
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid #E0E0E0;
  &:hover {
    border-color: #fb9803;
  }

  &.is_active {
    border-color: #1890ff;
  }

  .question_edit {
    padding: 10px;
    background: #FAFAFA;
    border-top: 1px solid #dfe4e6;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: -7px;
      left: 41px;
      width: 13px;
      height: 13px;
      border-top: 1px solid #dfe4e6;
      border-left: 1px solid #dfe4e6;
      background: #FAFAFA;
      transform: rotate(45deg);
    }
  }

  .question_opa {
    padding: 0 10px 10px 30px;

    .ant-col {
      visibility: hidden;
    }

    &:hover {
      .ant-col {
        visibility: visible;
      }
    }

    &.is_active {
      display: none;
    }

    .question_left{
      cursor: pointer;
      color: #1ea0fa;
      text-decoration: underline;
    }

    .question_right {
      text-align: right;

      .ant-btn {
        margin-left: 10px;
        transition: all 0s;
      }
    }
  }
}
