/*
* 问卷管理
 */
/*** 列表 ***/
.questionnaire_add {
  margin-top: 10px;
  padding-bottom: 10px;
}

/*** 上线模态框 ***/
.online_modal {
  .online_right {
    color: rgb(255, 85, 52);
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
  }
  .anticon-exclamation-circle {
    margin-left: 8px;
    font-size: 16px;
    color: rgb(255, 85, 52);
  }
}

/*** 生成外链 ***/
.links_modal {
  .links_copy {
    position: relative;
    .ant-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

/*** 新增问卷 ***/
.add_question {
  margin-top: 20px;
  .ant-form:not(.ant-form-inline):not(.ant-form-vertical) {
    max-width: 600px;
  }

  .add_question_item {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: space-between;
    }
  }
  .add_question_item_co {
    flex: 1;
    .ant-picker {
      width: 100%;
    }
  }
  .add_question_item_span {
    display: inline-block;
    width: 24px;
    line-height: 32px;
    text-align: center;
  }
}

/*** 组卷 ***/
.combine_paper {
  //position: relative;
  //.calcu_posite {
  //  top: 10px;
  //  right: 57px;
  //}
  .ant-tabs-bar {
    margin: 0;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    padding: 0;
  }

  .ant-dropdown-link {
    padding: 0 16px;
    line-height: 40px;
    display: inline-block;
  }

  //.ant-tabs-nav-scroll{
  //  text-align: right;
  //}

  .combine_main {
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 18px;
    width: 90%;
  }

  .surveyhead {
    cursor: pointer;
    padding: 10px 0;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #E0E0E0;
  }

  .pater_title {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    vertical-align: middle;
    margin: 0;
    padding: 15px 0;
    line-height: 30px;
    text-align: center;
  }

  .surveydescription {
    cursor: pointer;
  }

  .surveycontent {
    margin-top: 18px;
  }
}
